.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container {
  width: 100% !important;
}
.react-datepicker__input-container input {
  font-family: system-ui !important;
  width: 100% !important;
}
